<div class="container" *ngIf="currentComponent === 'novo-transparencia'">

  <div class="titulo">
   Transparência
  </div>

  <div class="blocos">

    <div class="bloco-1">
      <div class="overlay">
        <div class="content" *ngIf="currentPage === 1">
          <div class="est"> São Paulo </div>
          <div class="li"> <a href="https://siapegov.pindamonhangaba.sp.gov.br/transparencia" target="_blank"> Pindamonhangaba </a> </div>
          <div class="li"> <a href="https://pmcaraguatatuba.geosiap.net.br/transparencia" target="_blank"> Caraguatatuba </a> </div>
          <div class="li"> <a href="https://pmguaratingueta.geosiap.net.br/transparencia" target="_blank"> Guaratinguetá </a> </div>
          <div class="li"> <a href="https://siap.jacarei.sp.gov.br/transparencia" target="_blank"> Jacarei </a> </div>
          <div class="li"> <a href="https://pmcachoeirapaulista.geosiap.net.br/transparencia" target="_blank"> Cachoeira Paulista </a> </div>
          <div class="li"> <a href="https://siap.lorena.sp.gov.br/transparencia" target="_blank"> Lorena </a> </div>
          <div class="li"> <a href="https://online.saovicente.sp.gov.br/transparencia" target="_blank"> São Vicente </a> </div>
          <div class="li"> <a href="https://pmcruzeiro.geosiap.net.br/transparencia" target="_blank"> Cruzeiro </a> </div>
          <div class="li"> <a href="https://pmlavrinhas.geosiap.net.br/transparencia" target="_blank"> Lavrinhas </a> </div>
          <div class="li"> <a href="https://pmsilveiras.geosiap.net.br:8443/transparencia" target="_blank"> Silveiras </a> </div>
          <div class="li"> <a href="https://lagoinha.geosiap.net.br/transparencia" target="_blank"> Lagoinha </a> </div>
          <div class="paginas">
            <button (click)="pag(1)" class="pag"> 1 </button>
            <button (click)="pag(2)" class="pag"> 2 </button>
          </div>
        </div>
        <div class="content" *ngIf="currentPage === 2">
          <div class="est"> São Paulo </div>
          <div class="li"> <a href="https://pedrotoledo.geosiap.net.br:8843/transparencia" target="_blank"> Pedro de Toledo </a> </div>
          <div class="li"> <a href="https://pmarapei.geosiap.net.br/transparencia" target="_blank"> Arapei </a> </div>
          <div class="li"> <a href="https://siap.pompeia.sp.gov.br/transparencia" target="_blank"> Pompéia </a> </div>
          <div class="li"> <a href="https://pmredencao.geosiap.net.br/transparencia" target="_blank"> Redenção da Serra </a> </div>
          <div class="li"> <a href="https://pmsalesopolis.geosiap.net.br/transparencia" target="_blank"> Salesópolis </a> </div>
          <div class="li"> <a href="https://pmbananal.geosiap.net.br/transparencia" target="_blank"> Bananal </a> </div>
          <div class="li2">  </div>
          <div class="li2">  </div>
          <div class="li2">  </div>
          <div class="li2">  </div>
          <div class="li2">  </div>
          <div class="paginas">
            <button (click)="pag(1)" class="pag" [class.active]> 1 </button>
            <button (click)="pag(2)" class="pag" [class.active]> 2 </button>
          </div>
        </div>
      </div>
    </div>

    <div class="bloco-2">
      <div class="overlay">
        <div class="content">
          <div class="est"> Rio de Janeiro </div>
           <div class="li"> <a href="https://pmjaperi.geosiap.net.br/transparencia" target="_blank"> Japeri </a> </div>
           <div class="li"> <a href="https://pmnilopolis.geosiap.net.br/transparencia" target="_blank"> Nilópolis </a> </div>
           <!--<div class="li"> <a href="https://sistema.pmsg.rj.gov.br/transparencia" target="_blank"> São Gonçalo </a> </div>-->
        </div>
      </div>
    </div>

    <div class="bloco-3">
      <div class="overlay">
        <div class="content">
          <div class="est"> Minas Gerais </div>
          <div class="li"> <a href="https://pmitamonte.geosiap.net.br/transparencia" target="_blank"> Itamonte </a> </div>
        </div>
      </div>
    </div>

  </div>
</div>
