.container{
  margin-left: 17%;
  background-color: rgb(41, 49, 53);
  border-radius: 7px;
  width: 80%;
  height: 97%;
  top: 9px;
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 4px 3px 15px 0px black;
  border: 1px solid rgb(80, 80, 80);
}

.titulo{
  position: absolute;
  top: 3%;
  font-size: 30px;
  margin-left: 2%;
  color: aliceblue;
  font-weight: bold;
}

.blocos{
  position: absolute;
  display: flex;
  margin-left: 2%;
  width: 96%;
  height: 88%;
  top: 10%;
  float: left;
  justify-content: center;
}

.bloco-1,.bloco-2,.bloco-3{
  font-size: 165%;
  color: aliceblue;
  border-radius: 7px;
  border: 1px solid rgb(116, 115, 115);
  background-color: rgb(118, 119, 119);
  width:25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  box-shadow: 4px 3px 10px 0px black;
}


.bloco-1{
  flex: 1;
  margin-right: 30px;
  background-image: url('https://img.freepik.com/fotos-gratis/conceito-de-colagem-de-html-e-css_23-2150061955.jpg?t=st=1743098632~exp=1743102232~hmac=23bccd728943f6c0689b5b35ebbbb9d7d62b3a29737ae3c47c49d8a06d321ed1&w=900');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
}


.bloco-2{
  flex: 1;
  margin-right: 30px;
  background-image: url('https://img.freepik.com/fotos-gratis/sala-de-hub-de-racks-de-servidor-de-dados-com-centro-de-computacao-de-big-data-interior-azul-para-hospedar-hardware-de-armazenamento_90220-1033.jpg?t=st=1743098822~exp=1743102422~hmac=6bf6031ffb72733ca78a7c3b9c1e48e8407b0104cf0f5a66ae974f47718cbf5d&w=740');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.bloco-3{
  flex:1;
  margin-right: 0px;
  background-image: url('https://img.freepik.com/fotos-gratis/cientista-da-computacao-escreve-codigo-na-tela-do-laptop-enquanto-esta-no-escritorio-do-apartamento_482257-115440.jpg?t=st=1743098887~exp=1743102487~hmac=680b4063acd9b7aabf20a3aefa0e11f8abfd7914f851993c576635b86bee63b8&w=740');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70%;
}

a{
  text-decoration-line: none;
  color:inherit;
  margin-left: 3%;
}

.li:hover{
  background-color: rgba(150, 148, 148, 0.753);
  color: rgb(0, 0, 0);
}

.overlay {
  position: absolute;
  width: 32%;
  border-radius: 7px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay:hover {
  opacity: 5;
}

.est{
  margin-left: 3%;
  margin-top: 2%;
  font-size: 110%;
  width: 200px;
}

.content {
  //position: absolute;
  width: 100%;
  height: 100%;
  color: #fff; /* Cor do texto */
  text-align: left;
}

.li, .li2{
  margin-left: 8%;
  margin-top: 3.8%;
  width: 85%;
  height: 4.3vh;
  justify-content: center;
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 3px;
}

.paginas{
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 6%;
}

.paginas2{
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 6%;
}

.pag{
  border-radius: 50%;
  margin-right: 15px;
  border: 1px solid;
  width: 6%;
  height: 60%;
  background-color: rgba(240, 248, 255, 0.527);
}

.pag:hover{
  background-color: rgba(255, 255, 255, 0.89);
  cursor: pointer;
}

@media (max-width: 1366px) {
  .paginas, .paginas2 {
    margin-top: 4%;
  }
}

@media (max-width: 1366px) {
  .pag {
    width: 6%;
    height: 70%;
  }
}

@media (max-width: 1366px) {
  .bloco-1,
  .bloco-2,
  .bloco-3 {
    font-size: 22px; 
  }
}

@media (max-width: 1366px) {
  .titulo {
    font-size: 26px;
  }
}